{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Generate sleep clinic report{% endblock %}</h1>
{% endblock %}

{% block content %}

<form method="post">
  <label for="startdate">Enter start date for report:</label>
  <input name="startdate" id="startdate" type="date"/>
  <label for="enddate">Enter end date for report:</label>
  <input name="enddate" id="enddate" type="date"/>
  <input type="submit" value="Submit">
</form>

{% if report_key %}

<a href="{{ url_for('sleep.download', filename=report_key) }}">Download sleep report for {{ data_obj['startdate'] }} to {{ data_obj['enddate'] }}</a> 

{% endif %}

<div class="goback">
  <a href="{{ url_for('sleep.index') }}">Go back to index</a>
</div>

{% endblock %}