<!doctype html>
<title>{% block title %}{% endblock %} - SleepyHead</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans:wght@500&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1><a href="{{ url_for('sleep.index') }}">SleepyHead</a></h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user }}</span>
      <li><a href="{{ url_for('auth.logout') }}" download>Log Out</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>