{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Enter sleep data{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
  <label for="updatedate">Enter date for data:</label>
  <input name="updatedate" id="updatedate" type="date"/>
  
  <h2>Pre-bedtime data</h2>
    <label for="phonedown">When did I put my phone down?</label>
    <input name="phonedown" id="phonedown" type="time">

    <label for="activities">What activities did I do during wind-down time?</label>
    <input name="activities" id="activities" type="textarea">
  
  <h2>Sleep data</h2>
    <label for="bedtime">What time did I go to bed?</label>
    <input name="bedtime" id="bedtime" type="time">
    
    <label for="lightsout">What time did I turn the lights out to go to sleep?</label>
    <input name="lightsout" id="lightsout" type="time">
    
    <label for="howlongtillasleep">About how long did I take to fall asleep? (in minutes)</label>
    <input name="howlongtillasleep" id="howlongtillasleep" type="number"/>
    
    <label for="howmanywakeup">How many times did I wake up?</label>
    <input name="howmanywakeup" id="howmanywakeup" type="number"/>
    
    <label for="howlongawake">How long was I awake? (in minutes)</label>
    <input name="howlongawake" id="howlongawake" type="number"/>
    
    <label for="wakeuptime">What time did I wake up?</label>
    <input name="wakeuptime" id="wakeuptime" type="time">
    
    <label for="arisetime">What time did I get out of bed?</label>
    <input name="arisetime" id="arisetime" type="time">
    
    <label for="sleepnotes">Any notes?</label>
    <input name="sleepnotes" id="sleepnotes" type="textarea">
    
    <input type="submit" value="Submit">
</form>

<script>
  Date.prototype.toDateInputValue = (function() {
      var local = new Date(this);
      local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
      return local.toJSON().slice(0,10);
  });

  document.getElementById('updatedate').value = new Date().toDateInputValue();
</script>
{% endblock %}